.map-field
  margin-bottom: 15px;
  .filename
    margin-top: 0.5em

.field
  width: 33.333%
  box-sizing: border-box
  float: left
  padding-right: 15px;
  margin-bottom: 15px;

  &:nth-child(4)
    padding-right: 0