*
  margin: 0
  padding: 0
  outline: 0
  color: #f7f7f7
  font-family: Oxygen

h1,h2,h3,h4
  color: #f7f7f7
  font-family: Oxygen
  margin-bottom: 0.5em

body
  background-color: #444

label
  font-weight: 600

input[type="text"]
  
