*
  margin: 0
  padding: 0
  outline: 0
  color: #555
  font-family: 'Exo 2'

.btn
  text-shadow: none

h1,h2,h3,h4
  color: #555
  margin-bottom: 0.5em
  font-weight: 700

html
  overflow-y: scroll

body
  background-image: url('https://new.ppy.sh/images/backgrounds/page-light.png')

label
  font-weight: 600

input[type="text"]
  
